service:
  name: sproutserverless
  package:
    individually: true
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline
provider:
  name: aws
  runtime: nodejs12.x
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    URL: ${file(./secrets.yaml):url}
  region: us-west-2
  memorySize: 128
  timeout: 10

functions:
  plantdata:
    handler: src/handler.plantdata # file.function
    events:
      - http:
          method: get
          path: plantdata # api/soilmoisture
